<div class="container">
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-8 mx-auto" style="margin-top: 30px;">
         <%= form_tag("/resultados", method: "get", :id => 'envia_termos') do %>
         <div class="input-group input-group-lg">
            <span class="input-group-btn">
               <ul class="dropdown-menu">
                  <li><a role="button" class="nlk-search-type" data-radio="#target-nlk" data-value="in NML Website" data-action="/" data-param="s" data-target="_self">NML Website - services, resources, activities, news...</a></li>
                  <li><a role="button" class="nlk-search-type" data-radio="#target-medvik" data-value="in Medvik Portal" data-action="http://www.medvik.cz/bmc/opensearch.do" data-param="q" data-target="_self">Medvik - library catalogs, Czech articles</a></li>
                  <li><a role="button" class="nlk-search-type" data-radio="#target-summon" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self">Summon - online resources and full texts</a></li>
               </ul>
            </span>
            <input id="nlk-search-str" name="termos" type="text" maxlength="200" class="form-control" placeholder="Digite aqui os termos" data-def="Enter a query" value="<%= params[:termos] %>" required>
            <span class="input-group-btn"> 
            <button class="btn btn-primary" type="submit" id="nlk-search-submit">
            <i class="fa fa-search"></i>
            </button> 
            </span>    
         </div>
         <div class="adv-search-target">
            <label class="radio-inline">
            <input type="checkbox" name="exata" id="target-nlk" value="exata" class="nlk-search-type nlk-radio" data-value="in NML Website" data-action="/" data-param="s" data-target="_self" <%= if(params[:exata])
                      "checked"
                    end
                    %>> Exata
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="sinonimo" id="target-medvik" value="sinonimo" class="nlk-search-type nlk-radio" data-value="in Medvik Portal" data-action="http://www.medvik.cz/bmc/opensearch.do" data-param="q" data-target="_self" <%= if(params[:sinonimo])
                      "checked"
                    end
                    %>> Sinônimos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="antonimo" id="target-summon" value="antonimo" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:antonimo])
                      "checked"
                    end
                    %>> Antônimos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="verbo" id="target-summon" value="verbo" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:verbo])
                      "checked"
                    end
                    %>> Verbos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="radical" id="target-summon" value="radical" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:radical])
                      "checked"
                    end
                    %>> Radical
            </label>
         </div>
         <% end %>
      </div>
   </div>
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12">
         <div class="list-group resultados">
            <% @resultado[0...10].each do |resposta| -%>
            <button type="button" idVersiculo="<%= resposta["idVersiculo"] %>" class="list-group-item list-group-item-action">
               <div class="col-md-12 text-primary cabecalho">
                  <%= "#{resposta["livro"]} #{resposta["capitulo"]}:#{resposta["versiculo"]}" %>
               </div>
               <div class="col-md-12 texto">
                  <%= resposta["texto"] %>
               </div>
            </button>
            <% end -%>
         </div>
      </div>
   </div>
   <div>
      <nav aria-label="Page navigation example" class="text-center">
        <ul class="pagination justify-content-center">
          
        </ul>
      </nav>
   </div>
</div>
<div class="modal fade modal_detalhes" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title titulo_detalhes"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="versiculo_clicado col-md-12 text-center" style="margin-top: 10px; margin-bottom: 15px;">
          </div>
          <div class="col-md-12 busca_efetuada">
            
          </div>
        </div>
        <div class="row">
          <div class="exatos_completo col-md-12">
            <p class="text-center" style="color: blue;">O texto foi encontrado de maneira exata. Devido a isso, sua pontuação aumenta em relação aos demais versículos.</p>
          </div>
          
          <div class="exatos col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Exatos</div>
              <div class="panel-body content_exatos"></div>
              <div class="panel-footer footer_exatos text-center"></div>
            </div>
          </div>
          <div class="sinonimos col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Sinônimos</div>
              <div class="panel-body content_sinonimos"></div>
              <div class="panel-footer footer_sinonimos text-center"></div>
            </div>
          </div>
          <div class="antonimos col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Antônimos</div>
              <div class="panel-body content_antonimos"></div>
              <div class="panel-footer footer_antonimos text-center"></div>
            </div>
          </div>
          <div class="flexoes col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Flexões</div>
              <div class="panel-body content_flexoes"></div>
              <div class="panel-footer footer_flexoes text-center"></div>
            </div>
          </div>
          <div class="radicais col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Radicais</div>
              <div class="panel-body content_radicais"></div>
              <div class="panel-footer footer_radicais text-center"></div>
            </div>
          </div>
          <div class="pontuacao_geral col-md-12">
            <h3 class="text-center valor_geral" style="color: blue;"></h3>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var tamanho = <%= @resultado.length %>;
  var versiculos = [];
  var informacoes = {};

  <% @resultado.each do |resposta| -%>
    versiculos.push({id: '<%= "#{resposta["idVersiculo"]}" %>', html: '<button type="button" idVersiculo="<%= resposta["idVersiculo"] %>" class="list-group-item list-group-item-action"><div class="col-md-12 text-primary cabecalho"><%= "#{resposta["livro"]} #{resposta["capitulo"]}:#{resposta["versiculo"]}" %></div><div class="col-md-12 texto"><%= resposta["texto"] %></div></button>'});
  <% end -%>

  <% @result_modal.each do |index, resposta| -%>
    informacoes['<%= "#{index}" %>'] = {};

    <% if(resposta[:exatas]) %>
      var resposta_exatas = [];
      <% resposta[:exatas].each do |termo, aparicoes| -%>
        resposta_exatas.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["exatas"] = resposta_exatas;
    <% end %>

    <% if(resposta[:sinonimos]) %>
      var resposta_sinonimos = [];
      <% resposta[:sinonimos].each do |termo, aparicoes| -%>
        resposta_sinonimos.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["sinonimos"] = resposta_sinonimos;
    <% end %>

    <% if(resposta[:antonimos]) %>
      var resposta_antonimos = [];
      <% resposta[:antonimos].each do |termo, aparicoes| -%>
        resposta_antonimos.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["antonimos"] = resposta_antonimos;
    <% end %>

    <% if(resposta[:flexoes]) %>
      var resposta_flexoes = [];
      <% resposta[:flexoes].each do |termo, aparicoes| -%>
        resposta_flexoes.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["flexoes"] = resposta_flexoes;
    <% end %>

    <% if(resposta[:radicais]) %>
      var resposta_radicais = [];
      <% resposta[:radicais].each do |termo, aparicoes| -%>
        resposta_radicais.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["radicais"] = resposta_radicais;
    <% end %>

    <% if(resposta[:exatasCompleta]) %>
      var resposta_exatasCompleta = [];
      <% resposta[:exatasCompleta].each do |termo, aparicoes| -%>
        resposta_exatasCompleta.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["exatasCompleta"] = resposta_exatasCompleta;
    <% end %>
  <% end -%>

  var paginas = '<li class="page-item"><a class="page-link-previous" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
  var limite;
  for(i = 0; i < (tamanho / 10); i++){
    if(i === 0)
      paginas += '<li class="page-item active"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
    else if (i >= 10){
      paginas += '<li class="page-item"><a class="page-link-more" href="#">...</a></li>';
      break;
    }
    else
      paginas += '<li class="page-item"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
  }
  paginas += '<li class="page-item"><a class="page-link-next" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';

  $(".pagination").html(paginas);

  $("body").on("click", ".page-link", function(ev){
    var pagina = parseInt($(this).text());
    var buttons = "";
    for (var i = (pagina * 10) -10; i < (pagina * 10);  i++) {
      buttons += versiculos[i].html;
    }
    $(".resultados").html(buttons);

    $(".page-item").removeClass("active");
    $(this).parent().addClass("active");
  });

  $("body").on("click", ".page-link-previous", function(ev){
    var pagina = parseInt($(".page-item.active .page-link").text()) - 1;
    if(pagina != parseInt($(".page-link").first().text()) - 1){
      var buttons = "";
      for (var i = (pagina * 10) -10; i < (pagina * 10);  i++) {
        buttons += versiculos[i].html;
      }
      $(".resultados").html(buttons);

      $(".page-item").removeClass("active");
      $(".page-link").filter(function() {
        return $(this).text() == pagina;
      }).parent().addClass("active");
    }
    else{
      var paginas = '<li class="page-item"><a class="page-link-previous" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
      for(i = 0; i < (tamanho / 10); i++){
        if(i == (parseInt($(".page-link").first().text())) - 2)
          paginas += '<li class="page-item active"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
        else if (i >= (parseInt($(".page-link").first().text()))){
          paginas += '<li class="page-item"><a class="page-link-more" href="#">...</a></li>';
          break;
        }
        else if(i >= (parseInt($(".page-link").first().text())) - 12 && i <= (parseInt($(".page-link").first().text()) - 2))
          paginas += '<li class="page-item"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
      }
      paginas += '<li class="page-item"><a class="page-link-next" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';

      $(".pagination").html(paginas);
      $(".page-link:last").trigger( "click" );
    }
  });

  $("body").on("click", ".page-link-next", function(ev){
    var pagina = parseInt($(".page-item.active .page-link").text()) + 1;
    if(pagina != (parseInt($(".page-link").last().text()) + 1)){
      var buttons = "";
      for (var i = (pagina * 10) -10; i < (pagina * 10);  i++) {
        buttons += versiculos[i].html;
      }
      $(".resultados").html(buttons);

      $(".page-item").removeClass("active");
      $(".page-link").filter(function() {
        return $(this).text() == pagina;
      }).parent().addClass("active");
    }
    else{
      var paginas = '<li class="page-item"><a class="page-link-previous" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
      for(i = 0; i < (tamanho / 10); i++){
        if(i == (parseInt($(".page-link").last().text())))
          paginas += '<li class="page-item active"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
        else if (i >= (parseInt($(".page-link").last().text())) + 11){
          paginas += '<li class="page-item"><a class="page-link-more" href="#">...</a></li>';
          break;
        }
        else if(i >= (parseInt($(".page-link").last().text())) && i <= (parseInt($(".page-link").last().text()) + 9))
          paginas += '<li class="page-item"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
      }
      paginas += '<li class="page-item"><a class="page-link-next" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';

      $(".pagination").html(paginas);
      $(".page-link:first").trigger( "click" );
    }
  });

  $("body").on("click", ".page-link-more", function(ev){
    var paginas = '<li class="page-item"><a class="page-link-previous" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
    for(i = 0; i < (tamanho / 10); i++){
      if(i == (parseInt($(".page-link").last().text())))
        paginas += '<li class="page-item active"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
      else if (i >= (parseInt($(".page-link").last().text()) + 10)){
        paginas += '<li class="page-item"><a class="page-link-more" href="#">...</a></li>';
        break;
      }
      else if(i >= (parseInt($(".page-link").last().text())) && i <= (parseInt($(".page-link").last().text()) + 9))
        paginas += '<li class="page-item"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
    }
    paginas += '<li class="page-item"><a class="page-link-next" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';

    $(".pagination").html(paginas);
    $(".page-link:first").trigger( "click" );
  });

  $('body').on("click", ".list-group .list-group-item", function(ev){

    var _idVersiculo = $(this).attr("idVersiculo");
    var _detalhes = informacoes[_idVersiculo];
    var _cabecalho = $(this).find(".cabecalho").text();
    $(".titulo_detalhes").text(_cabecalho);

    var _pesoExata = <%= @usuario.as_json['pesoExata'] %>;
    var _pesoSinonimo = <%= @usuario.as_json['pesoSinonimo'] %>;
    var _pesoAntonimo = <%= @usuario.as_json['pesoAntonimo'] %>;
    var _pesoFlexao = <%= @usuario.as_json['pesoFlexao'] %>;
    var _pesoRadical = <%= @usuario.as_json['pesoRadical'] %>;
    var total_Geral = 0.00;

    $(".versiculo_clicado").html('<em>"'+ $(this).find(".texto").text() + '"</em>');
    $(".busca_efetuada").html("<div class='text-center' style='margin-bottom: 10px;'><h4><strong>BUSCA EFETUADA: " + $("#nlk-search-str").val() + "</strong></h4></div>");

    if(!_detalhes.exatasCompleta || _detalhes.exatasCompleta.length == 0){
      $(".exatos_completo").hide();
      $(".pontuacao_geral").show();
    }
    else{
      $(".exatos_completo").show();
      $(".pontuacao_geral").hide();
    }

    if(!_detalhes.exatas || _detalhes.exatas.length == 0){
      $(".exatos").hide();
    }
    else{
      var _termos = "";
      var total_aparicoes = 0;
      $.each(_detalhes.exatas, function(k, v){
        _termos += '<div class="chip"><div class="valor text-center">'+ v.aparicoes +'</div>'+ v.termo +'</div>';
        total_aparicoes += parseInt(v.aparicoes);
      });
      
      $(".footer_exatos").html("Pontuação de termos exatos: " + total_aparicoes + " x " + _pesoExata + " = " + (total_aparicoes * _pesoExata).toFixed(2));
      total_Geral += parseFloat((total_aparicoes * _pesoExata));
      $(".content_exatos").html(_termos);
      $(".exatos").show();
    }

    if(!_detalhes.sinonimos || _detalhes.sinonimos.length == 0){
      $(".sinonimos").hide();
    }
    else{
      var _termos = "";
      var total_aparicoes = 0;
      $.each(_detalhes.sinonimos, function(k, v){
        _termos += '<div class="chip"><div class="valor text-center">'+ v.aparicoes +'</div>'+ v.termo +'</div>';
        total_aparicoes += parseInt(v.aparicoes);
      });
      $(".footer_sinonimos").html("Pontuação de termos sinônimos: " + total_aparicoes + " x " + _pesoSinonimo + " = " + (total_aparicoes * _pesoSinonimo).toFixed(2));
      total_Geral += parseFloat((total_aparicoes * _pesoSinonimo));
      $(".content_sinonimos").html(_termos);
      $(".sinonimos").show();
    }

    if(!_detalhes.antonimos || _detalhes.antonimos.length == 0){
      $(".antonimos").hide();
    }
    else{
      var _termos = "";
      var total_aparicoes = 0;
      $.each(_detalhes.antonimos, function(k, v){
        _termos += '<div class="chip"><div class="valor text-center">'+ v.aparicoes +'</div>'+ v.termo +'</div>';
        total_aparicoes += parseInt(v.aparicoes);
      });
      $(".footer_antonimos").html("Pontuação de termos antônimos: " + total_aparicoes + " x " + _pesoAntonimo + " = " + (total_aparicoes * _pesoAntonimo).toFixed(2));
      total_Geral += parseFloat((total_aparicoes * _pesoAntonimo));
      $(".content_antonimos").html(_termos);
      $(".antonimos").show();
    }

    if(!_detalhes.flexoes || _detalhes.flexoes.length == 0){
      $(".flexoes").hide();
    }
    else{
      var _termos = "";
      var total_aparicoes = 0;
      $.each(_detalhes.flexoes, function(k, v){
        _termos += '<div class="chip"><div class="valor text-center">'+ v.aparicoes +'</div>'+ v.termo +'</div>';
        total_aparicoes += parseInt(v.aparicoes);
      });
      $(".footer_flexoes").html("Pontuação de termos por flexão verbal: " + total_aparicoes + " x " + _pesoFlexao + " = " + (total_aparicoes * _pesoFlexao).toFixed(2));
      total_Geral += parseFloat((total_aparicoes * _pesoFlexao));
      $(".content_flexoes").html(_termos);
      $(".flexoes").show();
    }

    if(!_detalhes.radicais || _detalhes.radicais.length == 0){
      $(".radicais").hide();
    }
    else{
      var _termos = "";
      var total_aparicoes = 0;
      $.each(_detalhes.radicais, function(k, v){
        _termos += '<div class="chip"><div class="valor text-center">'+ v.aparicoes +'</div>'+ v.termo +'</div>';
        total_aparicoes += parseInt(v.aparicoes);
      });
      $(".footer_radicais").html("Pontuação de termos por radical: " + total_aparicoes + " x " + _pesoRadical + " = " + (total_aparicoes * _pesoRadical).toFixed(2));
      total_Geral += parseFloat((total_aparicoes * _pesoRadical));
      $(".content_radicais").html(_termos);
      $(".radicais").show();
    }

    $(".valor_geral").text("Pontuação total: " + (total_Geral).toFixed(2));

    //gerar o calculo para exibicao. Sugestao: fazer o calculo para cada box: numero de aparicoes total * peso do box.
    $('.modal_detalhes').modal('show');
  });
  
</script>