<div class="container">
   <div class="row">
      <div class="col-md-8 mx-auto" style="margin-top: 30px;">
         <%= form_tag("/resultados", method: "get", :id => 'envia_termos') do %>
         <div class="input-group input-group-lg">
            <span class="input-group-btn">
               <ul class="dropdown-menu">
                  <li><a role="button" class="nlk-search-type" data-radio="#target-nlk" data-value="in NML Website" data-action="/" data-param="s" data-target="_self">NML Website - services, resources, activities, news...</a></li>
                  <li><a role="button" class="nlk-search-type" data-radio="#target-medvik" data-value="in Medvik Portal" data-action="http://www.medvik.cz/bmc/opensearch.do" data-param="q" data-target="_self">Medvik - library catalogs, Czech articles</a></li>
                  <li><a role="button" class="nlk-search-type" data-radio="#target-summon" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self">Summon - online resources and full texts</a></li>
               </ul>
            </span>
            <input id="nlk-search-str" name="termos" type="text" maxlength="200" class="form-control" placeholder="Digite aqui os termos" data-def="Enter a query" value="<%= params[:termos] %>" required>
            <span class="input-group-btn"> 
            <button class="btn btn-primary" type="submit" id="nlk-search-submit">
            <i class="fa fa-search"></i>
            </button> 
            </span>    
         </div>
         <div class="adv-search-target">
            <label class="radio-inline">
            <input type="checkbox" name="exata" id="target-nlk" value="exata" class="nlk-search-type nlk-radio" data-value="in NML Website" data-action="/" data-param="s" data-target="_self" <%= if(params[:exata])
                      "checked"
                    end
                    %>> Exata
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="sinonimo" id="target-medvik" value="sinonimo" class="nlk-search-type nlk-radio" data-value="in Medvik Portal" data-action="http://www.medvik.cz/bmc/opensearch.do" data-param="q" data-target="_self" <%= if(params[:sinonimo])
                      "checked"
                    end
                    %>> Sinônimos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="antonimo" id="target-summon" value="antonimo" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:antonimo])
                      "checked"
                    end
                    %>> Antônimos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="verbo" id="target-summon" value="verbo" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:verbo])
                      "checked"
                    end
                    %>> Verbos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="radical" id="target-summon" value="radical" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:radical])
                      "checked"
                    end
                    %>> Radical
            </label>
         </div>
         <% end %>
      </div>
   </div>
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12">
         <div class="list-group resultados">
            <% @resultado[0...10].each do |resposta| -%>
            <button type="button" idVersiculo="<%= resposta["idVersiculo"] %>" class="list-group-item list-group-item-action">
               <div class="col-md-12 text-primary">
                  <%= "#{resposta["livro"]} #{resposta["capitulo"]}:#{resposta["versiculo"]}" %>
               </div>
               <div class="col-md-12">
                  <%= resposta["texto"] %>
               </div>
            </button>
            <% end -%>
         </div>
      </div>
   </div>
   <div>
      <nav aria-label="Page navigation example" class="text-center">
        <ul class="pagination justify-content-center">
          
        </ul>
      </nav>
   </div>
</div>



<script type="text/javascript">
  var tamanho = <%= @resultado.length %>;
  var versiculos = {};
  var informacoes = {};

  <% @resultado.each do |resposta| -%>
    versiculos['<%= "#{resposta["idVersiculo"]}" %>'] = '<button type="button" idVersiculo="<%= resposta["idVersiculo"] %>" class="list-group-item list-group-item-action"><div class="col-md-12 text-primary"><%= "#{resposta["livro"]} #{resposta["capitulo"]}:#{resposta["versiculo"]}" %></div><div class="col-md-12"><%= resposta["texto"] %></div></button>';
  <% end -%>

  <% @result_modal.each do |index, resposta| -%>
    informacoes['<%= "#{index}" %>'] = {};

    <% if(resposta[:exatas]) %>
      var resposta_exatas = [];
      <% resposta[:exatas].each do |termo, aparicoes| -%>
        resposta_exatas.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["exatas"] = resposta_exatas;
    <% end %>

    <% if(resposta[:sinonimos]) %>
      var resposta_sinonimos = [];
      <% resposta[:sinonimos].each do |termo, aparicoes| -%>
        resposta_sinonimos.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["sinonimos"] = resposta_sinonimos;
    <% end %>

    <% if(resposta[:antonimos]) %>
      var resposta_antonimos = [];
      <% resposta[:antonimos].each do |termo, aparicoes| -%>
        resposta_antonimos.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["antonimos"] = resposta_antonimos;
    <% end %>

    <% if(resposta[:flexoes]) %>
      var resposta_flexoes = [];
      <% resposta[:flexoes].each do |termo, aparicoes| -%>
        resposta_flexoes.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["flexoes"] = resposta_flexoes;
    <% end %>

    <% if(resposta[:radicais]) %>
      var resposta_radicais = [];
      <% resposta[:radicais].each do |termo, aparicoes| -%>
        resposta_radicais.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["radicais"] = resposta_radicais;
    <% end %>

    <% if(resposta[:exatasCompleta]) %>
      var resposta_exatasCompleta = [];
      <% resposta[:exatasCompleta].each do |termo, aparicoes| -%>
        resposta_exatasCompleta.push({termo: '<%= "#{termo}" %>', aparicoes: '<%= "#{aparicoes}" %>'})
      <% end %>
      informacoes['<%= "#{index}" %>']["exatasCompleta"] = resposta_exatasCompleta;
    <% end %>
  <% end -%>

  var paginas = '<li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
  for(i = 0; i < (tamanho / 10); i++){
    if(i === 0)
      paginas += '<li class="page-item active"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
    else if (i >= 10){
      paginas += '<li class="page-item"><a class="page-link" href="#">...</a></li>';
      break;
    }
    else
      paginas += '<li class="page-item"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
  }
  paginas += '<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';

  $(".pagination").html(paginas);

  $(".page-link").click(function(ev){
    var pagina = parseInt($(this).text());
    var buttons = "";
    for (var i = (pagina * 10) -10; i < (pagina * 10);  i++) {
      buttons += versiculos[i];
    }
    $(".resultados").html(buttons);

    $(".page-item").removeClass("active");
    $(this).parent().addClass("active");
  });

  $(".list-group .list-group-item").click(function(ev){
    console.log($(this).attr("idVersiculo"));


  });

</script>