<div class="container">
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-8 mx-auto" style="margin-top: 30px;">
         <%= form_tag("/resultados", method: "get", :id => 'envia_termos') do %>
         <div class="input-group input-group-lg">
            <span class="input-group-btn">
               <ul class="dropdown-menu">
                  <li><a role="button" class="nlk-search-type" data-radio="#target-nlk" data-value="in NML Website" data-action="/" data-param="s" data-target="_self">NML Website - services, resources, activities, news...</a></li>
                  <li><a role="button" class="nlk-search-type" data-radio="#target-medvik" data-value="in Medvik Portal" data-action="http://www.medvik.cz/bmc/opensearch.do" data-param="q" data-target="_self">Medvik - library catalogs, Czech articles</a></li>
                  <li><a role="button" class="nlk-search-type" data-radio="#target-summon1" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self">Summon - online resources and full texts</a></li>
               </ul>
            </span>
            <input id="nlk-search-str" name="termos" type="text" maxlength="200" class="form-control" placeholder="Digite aqui os termos" data-def="Enter a query" value="<%= params[:termos] %>" required>
            <span class="input-group-btn"> 
            <button class="btn btn-primary" type="submit" id="nlk-search-submit">
            <i class="fa fa-search"></i>
            </button> 
            </span>    
         </div>
         <div class="adv-search-target">
            <label class="radio-inline">
            <input type="checkbox" name="exata" id="target-nlk" value="exata" class="nlk-search-type nlk-radio" data-value="in NML Website" data-action="/" data-param="s" data-target="_self" <%= if(params[:exata])
                      "checked"
                    end
                    %>> Exata
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="sinonimo" id="target-medvik" value="sinonimo" class="nlk-search-type nlk-radio" data-value="in Medvik Portal" data-action="http://www.medvik.cz/bmc/opensearch.do" data-param="q" data-target="_self" <%= if(params[:sinonimo])
                      "checked"
                    end
                    %>> Sinônimos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="antonimo" id="target-summon2" value="antonimo" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:antonimo])
                      "checked"
                    end
                    %>> Antônimos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="verbo" id="target-summon3" value="verbo" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:verbo])
                      "checked"
                    end
                    %>> Verbos
            </label>
            <label class="radio-inline" style="margin-left: 10px;">
            <input type="checkbox" name="radical" id="target-summon4" value="radical" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self" <%= if(params[:radical])
                      "checked"
                    end
                    %>> Radical
            </label>
         </div>
         <% end %>
      </div>
   </div>
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12">
         <div class="list-group resultados">
            <% @resultado.each_with_index do |resposta, index| -%>
            <button type="button" idVersiculo="<%= resposta["idVersiculo"] %>" position="<%= index + 1 %>" class="list-group-item list-group-item-action">
              <div class="col-md-10">
                <div class="col-md-12 text-primary cabecalho">
                    <%= "#{resposta["livro"]} #{resposta["capitulo"]}:#{resposta["versiculo"]}" %>
                </div>
                <div class="col-md-12 texto">
                    <%= resposta["texto"] %>
                </div>
              </div>
              <div class="col-md-2">
                <div style="text-align: center;" class="text-primary">PONTUAÇÃO</div>
                <div style="text-align: center;">
                  <% if @ranking[index][:peso] == 1000 -%>
                    Exato
                  <% else -%>
                    <%= @ranking[index][:peso] %>
                  <% end -%>
                </div>
              </div>
            </button>
            <% end -%>
         </div>
      </div>
   </div>
   <div>
      <nav aria-label="Page navigation example" class="text-center">
        <ul class="pagination justify-content-center">
          
        </ul>
      </nav>
   </div>
</div>
<div class="modal fade modal_detalhes" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= form_tag("/salva_pesquisa", method: "post", :id => 'envia_pesquisa') do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title titulo_detalhes"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="versiculo_clicado col-md-12 text-center" style="margin-top: 10px; margin-bottom: 15px;">
            </div>
            <div class="col-md-12 busca_efetuada">
              
            </div>
          </div>
          <div class="row">
            <div class="exatos_completo col-md-12">
              <p class="text-center" style="color: blue;">O texto foi encontrado de maneira exata. Devido a isso, sua pontuação aumenta em relação aos demais versículos.</p>
            </div>
            
            <div class="exatos col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Exatos</div>
                <div class="panel-body content_exatos"></div>
                <div class="panel-footer footer_exatos text-center"></div>
              </div>
            </div>
            <div class="sinonimos col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Sinônimos</div>
                <div class="panel-body content_sinonimos"></div>
                <div class="panel-footer footer_sinonimos text-center"></div>
              </div>
            </div>
            <div class="antonimos col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Antônimos</div>
                <div class="panel-body content_antonimos"></div>
                <div class="panel-footer footer_antonimos text-center"></div>
              </div>
            </div>
            <div class="flexoes col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Flexões</div>
                <div class="panel-body content_flexoes"></div>
                <div class="panel-footer footer_flexoes text-center"></div>
              </div>
            </div>
            <div class="radicais col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Radicais</div>
                <div class="panel-body content_radicais"></div>
                <div class="panel-footer footer_radicais text-center"></div>
              </div>
            </div>
            <div class="pontuacao_geral col-md-12">
              <h3 class="text-center valor_geral" style="color: blue;"></h3>
            </div>
          </div>
          <input type="hidden" id="buscaefetuada_pesquisa" name="pesquisa[buscaEfetuada]" value="">
          <input type="hidden" id="ranking_pesquisa" name="pesquisa[ranking]" value="">
          <input type="hidden" name="pesquisa[pesoExata]" value="<%= @usuario.as_json['pesoExata'] %>">
          <input type="hidden" name="pesquisa[pesoSinonimo]" value="<%= @usuario.as_json['pesoSinonimo'] %>">
          <input type="hidden" name="pesquisa[pesoAntonimo]" value="<%= @usuario.as_json['pesoAntonimo'] %>">
          <input type="hidden" name="pesquisa[pesoRadical]" value="<%= @usuario.as_json['pesoRadical'] %>">
          <input type="hidden" name="pesquisa[pesoFlexao]" value="<%= @usuario.as_json['pesoFlexao'] %>">
          <input type="hidden" id="versiculo_pesquisa" name="pesquisa[versiculo_id]" value="">
          <input type="hidden" name="pesquisa[usuario_id]" value="<%= @usuario.as_json['id'] %>">

          <div class="row msg_avaliacao" style="display: none;">
            <div class="col-md-12">
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-center">Que bom que este versículo é relevante para você. Continue a avaliar-nos!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      <% end -%>
    </div>
  </div>
</div>


<script type="text/javascript">
  var tamanho = <%= @ranking.length %>;

  var versiculos = {};
  <% @ranking.each_with_index do |resposta, index| -%>
    var _termos = {};
    <% resposta[:termos].each do |key, termo| -%>
      _termos[<%= key %>] = {termo: '<%= "#{ termo["termo"]}" %>', aparicoes: <%= "#{termo[:aparicoes]}" %>, aparicoes_termo: <%= "#{termo[:aparicoes_termo]}" %>, contexto: '<%= "#{termo[:contexto]}" %>', pesquisa: '<%= "#{termo[:pesquisa]}" %>'};
    <% end -%>
    versiculos[<%= "#{ resposta[:versiculo]}" %>] = _termos;
  <% end -%>

  geraMarcacao();

  var paginas = '<li class="page-item"><a class="page-link-previous" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
  var limite;
  for(i = 0; i < (tamanho / 10); i++){
    if(i === 0)
      paginas += '<li class="page-item active"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
    else if (i >= 10){
      paginas += '<li class="page-item"><a class="page-link-more" href="#">...</a></li>';
      break;
    }
    else
      paginas += '<li class="page-item"><a class="page-link" href="#">'+ (i + 1) +'</a></li>';
  }
  paginas += '<li class="page-item"><a class="page-link-next" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';
  $(".pagination").html(paginas);


  //continuar fazendo a marcacao  no html dos contextos de cada versiculo
  //---------------------------------------------------------------------

  function geraMarcacao(){
    $.each($('.resultados .list-group-item'), function(k, v){
      var _versiculo = $(v).attr("idversiculo");
      console.log(_versiculo);
    });
  }

  $.ajax({
    method: "get",
    url: "/marcacao",
    data: "",
    dataType: "json"
  })
  .done(function( msg ) {
    console.log(msg);
  })
  .fail(function(erro){
    console.log(erro);
  });

</script>